:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --color-scrollbar: var(--dev-accent);
  --color-primary-dark: #166aa3;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 4px;

    &:hover {
      background: var(--color-primary-dark);
    }
  }
}